                                /* ANTONIA BALBUENA VÁZQUEZ
                                            2º DAW  */


                                /* Ejercicio 1.	Rellena esta tabla y creala en el documento html */
                                .tabla {
                                    width: 40%;
                                    height: 70%;
                                    border: solid 1px red;
                                }


                                /* Ejercicio 2. Crea una regla CSS para que todos los elementos sean de color gris  (selector * ) */
                                * {
                                    color: grey;
                                }



                                /* Ejercicio 3.	Crea una regla para que los elementos que estén dentro de un p sean de color verde y 
fuente Georgia.   (con descendientes ) */
                                p * {
                                    color: green;
                                    font-family: Georgia;
                                }



                                /* Ejercicio 4.	Crea una regla para que todos los elementos que estén dentro de una tabla 
tengan bordes rojos  y amarillos  (con descendientes ) */
                                table * {
                                    border: solid 1px red;
                                    border: solid 1px yellow;
                                }



                                /* Ejercicio 5.	Crea una regla para que todos los elementos que estén inmediatamente dentro de un p 
sean de color azul y fuente Arial.  (con hijo > ) */
                                p>* {
                                    color: blue;
                                    font-family: Arial;
                                }



                                /* Ejercicio 6.	Crea una regla para que todos elementos strong  deben tener color azul, 
pero sólo si son descendientes de un elemento de lista (li). El resto de los elementos 
strong no se verán afectados. */
                                li strong {
                                    color: blue;
                                }



                                /* Ejercicio 7.	Crea una regla para que todos enlaces dentro de un div y de una etiqueta 
debe tener color magenta  (con descendiente  + selector * ) */
                                div a {
                                    color: magenta;
                                }



                                /* Ejercicio 8.Crea una regla para que todos enlaces que se hallan empezando un div no 
tengan subrayado  (con descendiente hijo + selector * )  div>a:first-child  
{ text-decoration:none} */
                                div>a:first-child {
                                    text-decoration: none;
                                }



                                /* Ejercicio 9. Crea una regla para que todos strong que se hallan justo dentro un h1 
tengan subrayado  (con descendiente hijo  )  h1>strong  { text-decoration:underline} */
                                h1>strong {
                                    text-decoration: underline;
                                }



                                /* Ejercicio 10. Crea una regla para que todos p que van junto con un  h3 sean rojos
(con selectores adyacentes-hermanos ) */
                                h3+p {
                                    color: red;
                                }



                                /* Ejercicio 11. Crea una regla para que el elemento con el identificador ejercicio10 sean 
rojos (#ejercicio10) */
                                #ejercicio10 {
                                    color: red;
                                }


                                /* Ejercicio 12. Crea una regla para que los elementos con la clase ejercicio11 sean Azul  
(.ejercicio11) */
                                .ejercicio11 {
                                    color: blue;
                                }



                                /* Ejercicio 13. Crea dos reglas para que los elementos con la clase ejercicio12 sean Azules 
excepto los h2 que deben ser verdes y los h3 que deben ser amarillos */
                                .ejercicio12 {
                                    color: blue;
                                }



                                /* Ejercicio 14. Crea una regla de pseudoclase para que los enlaces con clase ejercicio13 
tengan estos colores
•	Verde si todavía no ha sido visitado
•	Verde Oliva si ha sido visitado
•	Rojo mientras el ratón pasa por encima
•	Azul justo cuando se pulsa el ratón sobre
•	Escribe dentro del párrafo un memotecnico para el concepto Orden Pseudoclase = LVHA */

                                a.ejercicio13:link {
                                    color: green;
                                }

                                a.ejercicio13:visited {
                                    color: olive;
                                }

                                a.ejercicio13:hover {
                                    color: red;
                                }

                                a.ejercicio13:active {
                                    color: blue;
                                }


                                /* Ejercicio 15. Crea dos regla para que los elementos con la clase ejercicio14
•	Regla 1 : que todos los p sean Azules con la clave !important
•	Regla 2 : que los elementos con la clase ejercicio14 de p sean verdes

Indica en un párrafo porque teniendo más prioridad la regla 2 se ven azules los que cumplen la 2. */
                                .ejercicio14 p {
                                    color: green;
                                }

                                p {
                                    color: blue !important;
                                }


                                /* Ejercicio 16.	Crea dos regla para que los elementos con la clase ejercicio15
•	Regla 1 : que todos los p sean Azules con la clave !important en un archivo externo
•	Regla 2 : que todos los p sean Negros en css en linea
Indica en un párrafo porque teniendo más prioridad la regla 2 se ven azules los que cumplen la 2. */
                                p.ejercicio16::first-line {
                                    color: blue;
                                }

                                p.ejercicio16::first-letter {
                                    color: red;
                                    font-size: 15px;
                                }

                                p.ejercicio16::before {
                                    color: green;
                                }

                                p.ejercicio16::after {
                                    color: yellow;
                                }

                                /* Ejercicio 17.	Crea cuatro reglas para que los elementos p con la clase ejercicio16
•	Regla 1 : que la  su primera línea  de todos los p sean Azules
•	Regla 2 : que la  su primera letra  de todos los p sean rojas y tamaño 15
•	Regla 3 : que los elementos que siguen al texto hola dentro de un p sean verde
•	Regla 4 : que los elementos que siguen al texto adios dentro de un p sean Amarillo
Debes usar (:first-line) (:first-letter) (:before)  (:after). */
                                p.ejercicio17::first-line {
                                    color: blue;
                                }

                                p.ejercicio17::first-letter {
                                    color: red;
                                    font-size: 15px;
                                }

                                p.ejercicio17::before {
                                    content: "delante";
                                    color: green;
                                }

                                p.ejercicio17::after {
                                    content: "detrás";
                                    color: yellow;
                                }


                                /* Ejercicio 18. Crea una regla con :focus hace referencia a los elementos que tienen el foco de un 
formulario se iluminen . Un ejemplo sería: input:focus {background-color: yellow;}. 
Crea un formulario con 5 input text para observarlo. */
                                input:focus {
                                    background-color: yellow;
                                }


                                /* Ejercicio 19.	Crea una regla con   :first-child hace referencia el primer hijo de un elemento 
padre. En el siguiente ejemplo se aplica el estilo al primer elemento de una lista desordenada:  
ul li:first-child {font-weight: bold;}
Aplica el anterior estilo a una lista con 5 elementos */
                                ul li:first-child {
                                    font-weight: bold;
                                }


                                /* Ejercicio 20.	:lang(idioma) hace referencia al idioma en el que está un determinado elemento. 
En el siguiente ejemplo se aplica el estilo a cualquier párrafo que esté escrito en inglés: 
p:lang(en) {color: red} */
                                p:lang(en) {
                                    color: red;
                                }