* {
    font-family: Georgia;
}

.ejercicio2a {
    font-size: 10em;
}

.ejercicio2b {
    font-size: 10%;
}

.ejercicio2c {
    font-size: 10px;
}

.ejercicio2d {
    font-size: 10mm;
}

.ejercicio3normal {
    font-weight: normal;
}

.ejercicio3bold {
    font-weight: bold;
}

.ejercicio3bolder {
    font-weight: bolder;
}

.ejercicio3lighter {
    font-weight: lighter;
}

.ejercicio3100 {
    font-weight: 100;
}

.ejercicio3200 {
    font-weight: 200;
}

.ejercicio3300 {
    font-weight: 300;
}

.ejercicio3400 {
    font-weight: 400;
}

.ejercicio3500 {
    font-weight: 500;
}

.ejercicio3600 {
    font-weight: 600;
}

.ejercicio3700 {
    font-weight: 700;
}

.ejercicio3800 {
    font-weight: 800;
}

.ejercicio3900 {
    font-weight: 900;
}

.ejercicio4italic {
    font-style: italic;
}

.ejercicio4oblique {
    font-style: oblique;
}

.ejercicio5normal {
    font-variant: normal;
}

.ejercicio5caps {
    font-variant: small-caps;
}

.ejercicio6none {
    text-decoration: none;
}

.ejercicio6underline {
    text-decoration: underline;
}

.ejercicio6overline {
    text-decoration: overline;
}

.ejercicio6line-through {
    text-decoration: line-through;
}

.ejercicio6blink {
    text-decoration: blink;
}

.ejercicio6inherit {
    text-decoration: inherit;
}

.ejercicio7normal {
    text-transform: none;
}

.ejercicio7uppercase {
    text-transform: uppercase;
}

.ejercicio7capitalize {
    text-transform: capitalize;
}

.ejercicio7lowercase {
    text-transform: lowercase;
}

.ejercicio8triple {
    line-height: normal 3;
}

.ejercicio8-10pts {
    line-height: 10pt;
}

.ejercicio8150 {
    line-height: 150%;
}

.ejercicio9pos {
    text-indent: 10px;
}

.ejercicio9neg {
    text-indent: -20px;
}

.ejercicio920 {
    text-indent: 20%;
}

.ejercicio105 {
    letter-spacing: 5px;
}

.ejercicio1010 {
    letter-spacing: 10px;
}

.ejercicio101 {
    letter-spacing: -1px;
}

.ejercicio1005 {
    letter-spacing: 0.5px;
}

.Regla-ejercicio11-1 {
    white-space: normal;
}

.Regla-ejercicio11-2 {
    white-space: pre;
}

.Regla-ejercicio11-3 {
    white-space: nowrap;
}
