div.uno {
    border: 7px;
    border-style: double;
    border-color: #000000;
    background-color: #FFFFFF;
    color:#000000
}

/* Estilo externo vinculado: ver en css */
/* import tiene mayor prioridad que link */
/* Cuanto más específico sea el selector se le dará más Prioridad  */
h3 {
    color:blue;
}

/* Ejercicio 6 */
div {
  width: 50%;
}

div.uno {
    border: 5px inset gray ;        
    border-style: inset;    
    margin: auto;    
  }

  div.dos {
    border: 5px inset red;               
    background-color: #ffffff;
    margin: 50px 0 0 auto;
  }

  div.tres {
    border: 5px dashed red;        
    background-color: #a2bec5;
    margin: 50px 0;
  }
  
  div.cuatro {
    border: 5px ridge rgb(52, 52, 207) ;        
    background-color: #7bc4c4;
    margin-left: 100px;
  }

  div.cinco {
    border: 5px dotted red ;        
    background-color: #848da0;
    padding: 20px;
  }

  div.seis {
    border: 5px dashed black;        
    background-color: #97b3c0;
    padding: 40px 100px;
  }

  div.siete {
    border: 5px;        
    border-style: outset;
    border-color:#FfFF00 #FF00fF #00fFff forestgreen; ;
    background-color: #97b3c0;
    padding: 10px 20px 30px 40px;
  }

  div.ocho {
    border: 7px;
    border-style: inset; 
    border-color: green pink blue rgb(31, 211, 31); 
    background-color: #ffffff;
  }

  div.nueve {
    border: 10px;        
    border-style: groove;
    border-color: red blue green cyan ; 
    background-color: #ffffff;
  }

